html {
  height: 100%;
}

input#total-cost-input {
  width: 50%;
  margin-bottom: 50px;
}

input#total-nights-for-trip {
  width: 15%;
  text-align: center;
}

div#input-cols {
  margin-top: 25px;
}

/* form {
  margin: 5px;
} */

div#top-portion {
  background-color: #add8e6;
  overflow: hidden;
}

/* input#nights-select {
  width: 50px;

} */

input#modal-nights-input {
  width: 50px;
}

input#ppl-num {
  text-align: center;
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.payments-group {
  padding-top: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
